@tailwind base;
@tailwind components;
@tailwind utilities;


.subDIv {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
} 

.mainDIve{
  height: 700px;
}